.home-image {
	position: absolute;
	top: 0;
	width: 100%;
	height: 400px;
	background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url('images/background2.jpg');
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: 100% 100%;
  	z-index: -1;

}

.home-intro {
	margin-top: 220px;
	margin-bottom: 50px;
	z-index: 200;
}

@media only screen and (max-width: 500px) {
	.home-image {
		background-size: contain;
	}
	.home-intro {
		margin-top: 120px;
	}
}

.headshot {
	height: 200px;
	width: 200px;
	border-radius: 100px;
	border: 5px solid #3a424c;
}

.about {
	background-color: #b0c7d4;
	padding-bottom: 20px;
}

.contact a {
	color: #b0c7d4;
}

.contact a:hover,
.contact a:focus {
	text-decoration: none;
	color: #73B28B;
}

.contact-form input,
.contact-form textarea {
	width: 80%;
	margin: 10px 0;
	border: none;
	background-color: #3a424c;
	color: #F5F5F5;
	line-height: 1.4;
	padding: 10px 10px;
}

.contact-form textarea {
	height: 200px;
	resize: none;
}

.contact-form input:hover,
.contact-form input:focus,
.contact-form textarea:hover,
.contact-form textarea:focus {
	outline: none;
}


.send-email-btn {
	background-color: transparent;
	border: 1px solid #3a424c;
	height: 100px;
	width: 100px;
	border-radius: 50px;
}

.send-email-btn:hover,
.send-email-btn:focus,
.send-email-btn:active {
	outline: none;
	background-color: #3a424c;
	color: #F5F5F5;
}