navbar a {
    font-family: 'Gloria Hallelujah', sans-serif;
	color: #605c5c;
}

.navbar {
	text-align: center;
}

.navbar .nav {
	float: none;
}

.navbar .nav li {
	display: inline-block;
	float: none;
	margin: 0 10px;
	font-size: 1.2em;
}

.icon-bar {
    background: #3a424c;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: transparent;
  color: #73B28B;
}

.white-bg {
	background-color: #F5F5F5;
}

@media only screen and (max-width: 768px) {
	.navbar {
		position: absolute;
		top: 0px;
		right: 0px;
		z-index: 9999;
		margin-bottom: 20px;
	}
	.navbar-collapse {
		background-color: #F5F5F5;
		border: 1px solid #3a424c;
	}
	.navbar .nav li {
		display: block;
	}
}