portfolio-header {
	color: #605c5c;
	h4 {
		padding-top: 10px;
	}
	hr {
		width: 80%;
		border-top: 1px solid #3a424c;
	}
}

@media only screen and (max-width: 768px) {
	portfolio-header {
		h2 {
			margin-top: 50px;
		}
	}
}