portfolio {
	background-color: #F5F5F5;
}

.ruin {
	height: 350px;
	background-image: url('images/ruin.png');
  	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center;

}

.graphiti {
	height: 350px;
	background-image: url('images/graphiti.png');
  	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center;

}

.alex {
	height: 350px;
	background-image: url('images/alex.png');
  	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center;

}

.scorestore {
	height: 350px;
	background-image: url('images/scorestore.png');
  	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center;

}

.portfolio-content {
	h4 {
		font-size: 1.5em;
		font-weight: 700;
		padding: 5px 0 40px 0;
	}

	p {
		color: #F5F5F5;
	}

	.portfolio-text {
		background-color: rgba(58, 66, 76, 0.95);
		height: 100%;
		overflow: scroll;
	}

	.title {
		font-size: 1.3em;
		font-weight: 800;
		padding-top: 10px;
	}

	.desc {
		text-align: justify;
		padding: 0 20px;
		font-size: 1.1em;
	}

	.portfolio-btn {
		height: 50px;
		width: 40%;
		background-color: #F5F5F5;
		color: #3a424c;
		border: none;
		font-size: 1.2em;
		margin: 10px 5px 0 5px;
		&:hover,&:focus {
			outline: none;
			background-color: #3a424c;
			border: 2px solid #F5F5F5;
			color: #F5F5F5;
		}
		i {
			padding-right: 10px;
		}


	}



}